body {
  background-color: rgb(5, 5, 5);
}

#pacman {
  height: 400px;
  width: 220px;
  border-radius: 5px;
  margin: 0px auto;
}

#shim {
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  visibility: hidden
}

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  color: yellow;
}

body {
  width: 342px;
  margin: 0px auto;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #0000FF;
}